.Tickets{
  display: flex;
  justify-content: space-between;
  padding: 28px 0 36px 30px;
  border-radius: 10px;
}
.price{
  flex: 0 0 52%;
}
.pic{
  display: flex;
  flex-direction: column;
}
.btn{
  display: flex;
}
.image{
  width: 53%
}
.logo{
  display: flex;
  flex-direction: column;
}
.btx{
  border-radius: 9px;
}
@media only screen and (max-width:418px){
  .info{
    font-size: 2vh;
  }
  .price-h{
    font-size: 4vh;
  }
  .image{
    width: 72%;
  }
  .btx{
    font-size: 2vh;
 
  }
  .btn{
    margin-top: 3px;
  }
}